.inputName{
    padding: 10px 14px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    color: blueviolet;
}
.inputLastName{
    padding: 10px 14px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    color: blueviolet;
}
.inputLogin{
    padding: 10px 14px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    color: blueviolet;
}

.inputEmail {
  padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
  color: blueviolet;
}
.inputPassword {
      padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
  color: blueviolet;

}
.inputSignIn{
      padding: 10px 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 16px;
  color: da70d6;
  background-color: white;
  color:rgb(132, 2, 253);
}
.inputSignUp{
        padding: 10px 14px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    color: da70d6;
    background-color: white;
    color:rgb(132, 2, 253);
}
.inputEmail:focus, .inputPassword:focus, .inputSignIn:focus, .inputSignUp:focus {
  outline: none;
  border-color: #da70d6;
  box-shadow: 0 0 0 1px #da70d6;
  background-color: white;
}
span{
    color: red;

}