.form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 5px solid #d1d5db;
}
.buttons{
    margin: 10px;
    display: flex;
    gap: 10px;
}
body {
    background-image:url("img/friends-taking-selfie.jpg");
    background-size: cover;

}

