@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary-light-mode: #2681f3;
  --color-text-primary-light-mode: #091b2d;
  --bg: #fbfdfc;
}
